Pteridium_aquilinum_CDS.fasta
Pteridium_aquilinum_CDS_longest_isoform.fasta
Pteridium_aquilinum_genome.fasta
Pteridium_aquilinum_PROT.fasta
Pteridium_aquilinum_PROT_longest_isoform.fasta
Pteridium_aquilinum_gene_annotations.gff
Pteridium_aquilinum_gene_annotations_longest_isoform.gff
