OG0000000.fa.CLUSTAL.fa.TRIM.fa
OG0000001.fa.CLUSTAL.fa.TRIM.fa
OG0000002.fa.CLUSTAL.fa.TRIM.fa
OG0000003.fa.CLUSTAL.fa.TRIM.fa
OG0000004.fa.CLUSTAL.fa.TRIM.fa
OG0000005.fa.CLUSTAL.fa.TRIM.fa
OG0000006.fa.CLUSTAL.fa.TRIM.fa
OG0000007.fa.CLUSTAL.fa.TRIM.fa
OG0000008.fa.CLUSTAL.fa.TRIM.fa
OG0000009.fa.CLUSTAL.fa.TRIM.fa
OG0000010.fa.CLUSTAL.fa.TRIM.fa
OG0000011.fa.CLUSTAL.fa.TRIM.fa
OG0000012.fa.CLUSTAL.fa.TRIM.fa
OG0000013.fa.CLUSTAL.fa.TRIM.fa
OG0000014.fa.CLUSTAL.fa.TRIM.fa
OG0000015.fa.CLUSTAL.fa.TRIM.fa
OG0000016.fa.CLUSTAL.fa.TRIM.fa
OG0000017.fa.CLUSTAL.fa.TRIM.fa
OG0000018.fa.CLUSTAL.fa.TRIM.fa
OG0000019.fa.CLUSTAL.fa.TRIM.fa
OG0000020.fa.CLUSTAL.fa.TRIM.fa
OG0000021.fa.CLUSTAL.fa.TRIM.fa
OG0000022.fa.CLUSTAL.fa.TRIM.fa
OG0000023.fa.CLUSTAL.fa.TRIM.fa
OG0000024.fa.CLUSTAL.fa.TRIM.fa
OG0000025.fa.CLUSTAL.fa.TRIM.fa
OG0000026.fa.CLUSTAL.fa.TRIM.fa
OG0000027.fa.CLUSTAL.fa.TRIM.fa
OG0000028.fa.CLUSTAL.fa.TRIM.fa
OG0000029.fa.CLUSTAL.fa.TRIM.fa
OG0000030.fa.CLUSTAL.fa.TRIM.fa
OG0000031.fa.CLUSTAL.fa.TRIM.fa
OG0000032.fa.CLUSTAL.fa.TRIM.fa
OG0000033.fa.CLUSTAL.fa.TRIM.fa
OG0000034.fa.CLUSTAL.fa.TRIM.fa
OG0000035.fa.CLUSTAL.fa.TRIM.fa
OG0000036.fa.CLUSTAL.fa.TRIM.fa
OG0000037.fa.CLUSTAL.fa.TRIM.fa
OG0000038.fa.CLUSTAL.fa.TRIM.fa
OG0000039.fa.CLUSTAL.fa.TRIM.fa
OG0000040.fa.CLUSTAL.fa.TRIM.fa
OG0000041.fa.CLUSTAL.fa.TRIM.fa
OG0000042.fa.CLUSTAL.fa.TRIM.fa
OG0000043.fa.CLUSTAL.fa.TRIM.fa
OG0000044.fa.CLUSTAL.fa.TRIM.fa
OG0000045.fa.CLUSTAL.fa.TRIM.fa
OG0000046.fa.CLUSTAL.fa.TRIM.fa
OG0000047.fa.CLUSTAL.fa.TRIM.fa
OG0000048.fa.CLUSTAL.fa.TRIM.fa
OG0000049.fa.CLUSTAL.fa.TRIM.fa
OG0000050.fa.CLUSTAL.fa.TRIM.fa
OG0000051.fa.CLUSTAL.fa.TRIM.fa
OG0000052.fa.CLUSTAL.fa.TRIM.fa
OG0000053.fa.CLUSTAL.fa.TRIM.fa
OG0000054.fa.CLUSTAL.fa.TRIM.fa
OG0000055.fa.CLUSTAL.fa.TRIM.fa
OG0000056.fa.CLUSTAL.fa.TRIM.fa
OG0000057.fa.CLUSTAL.fa.TRIM.fa
OG0000058.fa.CLUSTAL.fa.TRIM.fa
OG0000059.fa.CLUSTAL.fa.TRIM.fa
OG0000060.fa.CLUSTAL.fa.TRIM.fa
OG0000061.fa.CLUSTAL.fa.TRIM.fa
OG0000062.fa.CLUSTAL.fa.TRIM.fa
OG0000063.fa.CLUSTAL.fa.TRIM.fa
OG0000064.fa.CLUSTAL.fa.TRIM.fa
OG0000065.fa.CLUSTAL.fa.TRIM.fa
OG0000066.fa.CLUSTAL.fa.TRIM.fa
OG0000067.fa.CLUSTAL.fa.TRIM.fa
OG0000068.fa.CLUSTAL.fa.TRIM.fa
OG0000069.fa.CLUSTAL.fa.TRIM.fa
OG0000070.fa.CLUSTAL.fa.TRIM.fa
OG0000071.fa.CLUSTAL.fa.TRIM.fa
OG0000072.fa.CLUSTAL.fa.TRIM.fa
OG0000073.fa.CLUSTAL.fa.TRIM.fa
OG0000074.fa.CLUSTAL.fa.TRIM.fa
OG0000075.fa.CLUSTAL.fa.TRIM.fa
OG0000076.fa.CLUSTAL.fa.TRIM.fa
OG0000077.fa.CLUSTAL.fa.TRIM.fa
OG0000078.fa.CLUSTAL.fa.TRIM.fa
OG0000079.fa.CLUSTAL.fa.TRIM.fa
OG0000080.fa.CLUSTAL.fa.TRIM.fa
OG0000081.fa.CLUSTAL.fa.TRIM.fa
OG0000082.fa.CLUSTAL.fa.TRIM.fa
OG0000083.fa.CLUSTAL.fa.TRIM.fa
OG0000084.fa.CLUSTAL.fa.TRIM.fa
OG0000085.fa.CLUSTAL.fa.TRIM.fa
OG0000086.fa.CLUSTAL.fa.TRIM.fa
OG0000087.fa.CLUSTAL.fa.TRIM.fa
OG0000088.fa.CLUSTAL.fa.TRIM.fa
OG0000089.fa.CLUSTAL.fa.TRIM.fa
OG0000090.fa.CLUSTAL.fa.TRIM.fa
OG0000091.fa.CLUSTAL.fa.TRIM.fa
OG0000092.fa.CLUSTAL.fa.TRIM.fa
OG0000093.fa.CLUSTAL.fa.TRIM.fa
OG0000094.fa.CLUSTAL.fa.TRIM.fa
OG0000095.fa.CLUSTAL.fa.TRIM.fa
OG0000096.fa.CLUSTAL.fa.TRIM.fa
OG0000097.fa.CLUSTAL.fa.TRIM.fa
OG0000098.fa.CLUSTAL.fa.TRIM.fa
OG0000099.fa.CLUSTAL.fa.TRIM.fa
OG0000100.fa.CLUSTAL.fa.TRIM.fa
OG0000101.fa.CLUSTAL.fa.TRIM.fa
OG0000102.fa.CLUSTAL.fa.TRIM.fa
OG0000103.fa.CLUSTAL.fa.TRIM.fa
OG0000104.fa.CLUSTAL.fa.TRIM.fa
OG0000105.fa.CLUSTAL.fa.TRIM.fa
OG0000106.fa.CLUSTAL.fa.TRIM.fa
OG0000107.fa.CLUSTAL.fa.TRIM.fa
OG0000108.fa.CLUSTAL.fa.TRIM.fa
OG0000109.fa.CLUSTAL.fa.TRIM.fa
OG0000110.fa.CLUSTAL.fa.TRIM.fa
OG0000111.fa.CLUSTAL.fa.TRIM.fa
OG0000112.fa.CLUSTAL.fa.TRIM.fa
OG0000113.fa.CLUSTAL.fa.TRIM.fa
OG0000114.fa.CLUSTAL.fa.TRIM.fa
OG0000115.fa.CLUSTAL.fa.TRIM.fa
OG0000116.fa.CLUSTAL.fa.TRIM.fa
OG0000117.fa.CLUSTAL.fa.TRIM.fa
OG0000118.fa.CLUSTAL.fa.TRIM.fa
OG0000119.fa.CLUSTAL.fa.TRIM.fa
OG0000120.fa.CLUSTAL.fa.TRIM.fa
OG0000121.fa.CLUSTAL.fa.TRIM.fa
OG0000122.fa.CLUSTAL.fa.TRIM.fa
OG0000123.fa.CLUSTAL.fa.TRIM.fa
OG0000124.fa.CLUSTAL.fa.TRIM.fa
OG0000125.fa.CLUSTAL.fa.TRIM.fa
OG0000126.fa.CLUSTAL.fa.TRIM.fa
OG0000127.fa.CLUSTAL.fa.TRIM.fa
OG0000128.CLUSTAL.TRIM.fa
OG0000128.fa.CLUSTAL.fa.TRIM.fa
OG0000129.fa.CLUSTAL.fa.TRIM.fa
OG0000130.fa.CLUSTAL.fa.TRIM.fa
OG0000131.fa.CLUSTAL.fa.TRIM.fa
OG0000132.fa.CLUSTAL.fa.TRIM.fa
OG0000133.fa.CLUSTAL.fa.TRIM.fa
OG0000134.fa.CLUSTAL.fa.TRIM.fa
OG0000135.fa.CLUSTAL.fa.TRIM.fa
OG0000136.fa.CLUSTAL.fa.TRIM.fa
OG0000137.fa.CLUSTAL.fa.TRIM.fa
OG0000138.fa.CLUSTAL.fa.TRIM.fa
OG0000139.fa.CLUSTAL.fa.TRIM.fa
OG0000140.fa.CLUSTAL.fa.TRIM.fa
OG0000141.fa.CLUSTAL.fa.TRIM.fa
OG0000142.fa.CLUSTAL.fa.TRIM.fa
OG0000143.fa.CLUSTAL.fa.TRIM.fa
OG0000144.fa.CLUSTAL.fa.TRIM.fa
OG0000145.fa.CLUSTAL.fa.TRIM.fa
OG0000146.fa.CLUSTAL.fa.TRIM.fa
OG0000147.fa.CLUSTAL.fa.TRIM.fa
OG0000148.fa.CLUSTAL.fa.TRIM.fa
OG0000149.fa.CLUSTAL.fa.TRIM.fa
OG0000150.fa.CLUSTAL.fa.TRIM.fa
OG0000151.fa.CLUSTAL.fa.TRIM.fa
OG0000152.fa.CLUSTAL.fa.TRIM.fa
OG0000153.fa.CLUSTAL.fa.TRIM.fa
OG0000154.fa.CLUSTAL.fa.TRIM.fa
OG0000155.fa.CLUSTAL.fa.TRIM.fa
OG0000156.fa.CLUSTAL.fa.TRIM.fa
OG0000157.fa.CLUSTAL.fa.TRIM.fa
OG0000158.fa.CLUSTAL.fa.TRIM.fa
OG0000159.fa.CLUSTAL.fa.TRIM.fa
OG0000160.fa.CLUSTAL.fa.TRIM.fa
OG0000161.fa.CLUSTAL.fa.TRIM.fa
OG0000162.fa.CLUSTAL.fa.TRIM.fa
OG0000163.fa.CLUSTAL.fa.TRIM.fa
OG0000164.fa.CLUSTAL.fa.TRIM.fa
OG0000165.fa.CLUSTAL.fa.TRIM.fa
OG0000166.fa.CLUSTAL.fa.TRIM.fa
OG0000167.fa.CLUSTAL.fa.TRIM.fa
OG0000168.fa.CLUSTAL.fa.TRIM.fa
OG0000169.fa.CLUSTAL.fa.TRIM.fa
OG0000170.fa.CLUSTAL.fa.TRIM.fa
OG0000171.fa.CLUSTAL.fa.TRIM.fa
OG0000172.fa.CLUSTAL.fa.TRIM.fa
OG0000173.fa.CLUSTAL.fa.TRIM.fa
OG0000174.fa.CLUSTAL.fa.TRIM.fa
OG0000175.fa.CLUSTAL.fa.TRIM.fa
OG0000176.fa.CLUSTAL.fa.TRIM.fa
OG0000177.fa.CLUSTAL.fa.TRIM.fa
OG0000178.fa.CLUSTAL.fa.TRIM.fa
OG0000179.fa.CLUSTAL.fa.TRIM.fa
OG0000180.fa.CLUSTAL.fa.TRIM.fa
OG0000181.fa.CLUSTAL.fa.TRIM.fa
OG0000182.fa.CLUSTAL.fa.TRIM.fa
OG0000183.fa.CLUSTAL.fa.TRIM.fa
OG0000184.fa.CLUSTAL.fa.TRIM.fa
OG0000185.fa.CLUSTAL.fa.TRIM.fa
OG0000186.fa.CLUSTAL.fa.TRIM.fa
