combined_emapper.annotations.tsv
orthogroups.db
Orthogroups_long.tsv
Orthogroups.tsv
pt_aq_DEG_trm_dev_simple_unfiltered_2024_10_17.trimmed.csv
pt_aq_eggnog.emapper.annotations
pt_aq.pep.pfams
pteridiumbase.db
pteridiumbase.db.bak
